.wrapper {
  display: flex;
  flex-direction: column;
  /* margin: 0em 1.4em 3em 1.4em; */
}

.container {
  /* margin: 0em 0.2em 3em 0.2em; */
}

.container h1 {
  font-size: 1.5em;
}

.container h2 {
  font-size: 1em;
}

.container p {
  margin: 1em;
}

.movies img {
  border-radius: 8px;
}

@media (min-width: 700px) {
  .wrapper {
    margin-bottom: 5em;
  }

  .container {
    margin: 0em 25em 4em 25em;
  }

  .container h1 {
    font-size: 2.5em;
  }

  .container h2 {
    font-size: 1.5em;
  }

  .container img {
    height: 600px;
    width: 400px;
  }
}
