/* --- Styles for image is found in HeaderImage component, as inline styles --- */

.backgroundImageContainer:hover {
  cursor: pointer;
}

/* title on top of header */
.headerMovieTitle {
  position: absolute;
  z-index: 2;
  bottom: 0;
  margin-left: 3.4em;
  padding-bottom: 1em;
  width: 50%;
  font-size: 0.4em;
  text-align: left;
  color: white;
}

/* LAPTOP SCREENS */
@media (min-width: 1100px) {
  .headerMovieTitle {
    z-index: 100;
    bottom: 0;
    padding-bottom: 2em;
    padding-left: 3em;
  }

  .headerMovieTitle h1 {
    font-size: 3em;
  }
}
