.mobileNavbar {
  text-align: right;
  top: 0;
  z-index: 200;
  width: 100vw;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.591), transparent);
}

.mobileNavbar ul {
  margin-top: 0;
}

.burgerIcon {
  color: white;
  background-color: transparent;
  font-size: 1.8em;
  border: none;
  margin: 0.4em;
}

.burgerIcon svg {
  filter: drop-shadow(4px 5px 2px rgb(0 0 0 / 0.4));
}

.mobileMenu {
  text-align: left;
  padding: 1em;
  height: 100vh;
}

.links {
  display: flex;
  flex-direction: column;
}

.mobileMenu a {
  font-size: 1.2em;
  color: white;
  text-shadow: 1px 8px 5px black;
  text-decoration: none;
  padding-bottom: 1em;
}

/* DESKTOP STYLES */

.container {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.988), transparent);
  display: flex;
  align-items: center;
  padding-top: 2.5em;
  width: 100%;
  margin-bottom: 2em;
  z-index: 1;
}

.container ul {
  width: 100%;
  text-align: left;
  align-items: center;
}

.container a {
  padding: 0.5em;
  font-size: 1.3em;
  font-weight: 1000;
  text-decoration: none;
  color: white;
  text-shadow: 1px 5px 5px black;
}
