@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200&display=swap");

body {
  margin: 0;
  font-family: "Karla", sans-serif;
  background-color: #181818;
  color: white;
  text-shadow: 1px 5px 5px black;
}

.wrapper h1 {
  font-size: 1.4em;
  margin: 0em 0em 1em 0em;
  text-align: center;
}

.home {
  margin-bottom: 1em;
}

/* loading spinner */
.spinner {
  margin-top: 4em;
}

/* headline before carousel on home */
.listHeadline {
  text-align: left;
  margin-left: 1.2em;
  font-size: 1em;
  margin-bottom: 1em;
}

.listHeadline:first-child {
  margin-top: 3em;
}

/* the container of movies on genre and search page */
.movieContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.movieContainer div {
  padding: 1em;
}

.movieContainer img {
  min-width: 250px;
  max-width: 250px;
  min-height: 375px;
  max-height: 375px;
}

.movieContainer img:hover {
  cursor: pointer;
}

/* title on genre page  */
.movieTitle {
  font-size: 1em;
  width: 12em;
}

img {
  box-shadow: 1px 2px 5px black;
}

.goBackButton {
  border-radius: 6px;
  width: 1.5em;
  margin: 1em;
  background-color: rgb(31, 31, 31);
  color: white;
}

/* TABLET SCREENS */
@media (min-width: 700px) {
  .listHeadline {
    text-align: left;
    margin-left: 1.6em;
    margin-bottom: 1.5em;
    font-size: 1.6em;
  }

  .home {
    margin-bottom: 4em;
  }
}

/* LAPTOP SCREENS */
@media (min-width: 1100px) {
  .nowPlaying {
    margin-top: 4em;
  }
}
